<h1>マイページ</h1>
<p><%= notice %></p>
<p>プロフィール画像:
<% if @user.icon? %>
  <%= image_tag @user.icon.url %>
<% end %>
</p>
<p><%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>

<% @user.pictures.each do |photo| %>
  <%= image_tag photo.image.url %>
  <%= link_to "show", picture_path(photo.id) %>
<% end %>

<p><%= link_to "プロフィール編集", edit_user_path(current_user.id) %></p>
