<p><%= notice %></p>

<p>投稿者：<%= @picture.user.name %></p>

<p>
<%= image_tag @picture.image.url %>
</p>

<p><%= @picture.content %></p>

<% if @picture.user_id == current_user.id %>
  <p><span>お気に入り数：</span><%= @picture.favorites.count %></p>
  <%= link_to "編集", edit_picture_path(@picture.id), data: { confirm: '本当に編集してよろしいですか？' } %>
  <%= link_to "削除", picture_path(@picture.id), method: :delete ,data: { confirm: '本当に削除してよろしいですか？' } %>
<% else %>
  <% if @picture.favorited_by?(current_user) %>
    <p><span>お気に入り解除：</span><%= link_to @picture.favorites.count, picture_favorites_path(@picture.id), method: :delete %></p>
  <% else %>
    <p><span>お気に入り登録：</span><%= link_to @picture.favorites.count, picture_favorites_path(@picture.id), method: :post %></p>
  <% end %>
<% end %>

<%= link_to '戻る', pictures_path %>
